.+{{path}}+

|===
|Parameter|Description|Required

{{#parameters}}
|{{#tableCellContent}}`+{{name}}+`{{/tableCellContent}}
|{{#tableCellContent}}{{description}}{{/tableCellContent}}
|{{#tableCellContent}}{{^optional}}⭕{{/optional}}{{/tableCellContent}}

{{/parameters}}
|===