|===
|Part|Description|Required

{{#requestParts}}
|{{#tableCellContent}}`+{{name}}+`{{/tableCellContent}}
|{{#tableCellContent}}{{description}}{{/tableCellContent}}
|{{#tableCellContent}}{{^optional}}⭕{{/optional}}{{/tableCellContent}}

{{/requestParts}}
|===
