|===
|Name|Description|Required

{{#headers}}
|{{#tableCellContent}}`+{{name}}+`{{/tableCellContent}}
|{{#tableCellContent}}{{description}}{{/tableCellContent}}
|{{#tableCellContent}}{{^optional}}⭕{{/optional}}{{/tableCellContent}}

{{/headers}}
|===