|===
|Path|Type|Description|Constraints|Default|Required

{{#fields}}
|{{#tableCellContent}}`+{{path}}+`{{/tableCellContent}}
|{{#tableCellContent}}`+{{type}}+`{{/tableCellContent}}
|{{#tableCellContent}}{{description}}{{/tableCellContent}}
|{{#constraints }}{{.}}{{/constraints}}
|{{#defaultValue }}{{.}}{{/defaultValue}}
|{{#tableCellContent}}{{^optional}}⭕{{/optional}}{{/tableCellContent}}

{{/fields}}
|===